{% extends "../base.html" %}
{% load crispy_forms_tags %}
{% block breadcrumb %}
<h2>Login</h2>
{% endblock %}

{% block content %}
<form method="post">
  {% csrf_token %}
  username: <input name="username" class="form-control" required="" type="text">
  password: <input name="password" class="form-control" required="" type="password">
  <br>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
{% if messages %}
  <script>
    {% for msg in messages%}
      alert('{{msg.message}}')
      {%endfor%}
  </script>
{% endif %}

{% endblock %}

